@import '../imports/ui/stylesheets/main';

body {
  background-color: #EFEFEF;
	font-family: 'Montserrat', sans-serif;
}

a, button, input {
  -ms-touch-action: manipulation;	/* IE10  */
	touch-action: manipulation;		/* IE11+ */
}

/**
 * Animations
 */
.example-appear {
  opacity: 0.01;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/**
 * Form error
 */
.input-group.error {
  .input-group-addon {
    border-color: $errorColor;
    color: $errorColor;
  }
}
