.btn {
  border-radius: 3px !important;
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}

.btn.btn-transparent {
  background: transparent;
  border: none;
  box-shadow: 0px 0px 1px #fff;
  color: #fff;
  font-weight: 100;
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}
