@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,500,300,700|Lato:400,700");

@font-face {
 	font-family: 'Montserrat';
 	font-style: normal;
 	font-weight: 100;
 	src: url('/fonts/montserrat/montserrat-hairline-webfont.eot'); /* IE9 Compat Modes */
 	src: url('/fonts/montserrat/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 	url('/fonts/montserrat/montserrat-hairline-webfont.woff2') format('woff2'), /* Super Modern Browsers */
 	url('/fonts/montserrat/montserrat-hairline-webfont.woff') format('woff'), /* Pretty Modern Browsers */
 	url('/fonts/montserrat/montserrat-hairline-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
 	url('/fonts/montserrat/montserrat-hairline-webfont.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/montserrat/montserrat-ultralight-webfont.otf') format('truetype'),
	url('/fonts/montserrat/montserrat-ultralight-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/montserrat/montserrat-light-webfont.eot'); /* IE9 Compat Modes */
	src: url('/fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/montserrat/montserrat-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/montserrat/montserrat-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/montserrat/montserrat-light-webfont.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/montserrat/montserrat-regular-webfont.eot'); /* IE9 Compat Modes */
	src: url('/fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/montserrat/montserrat-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/montserrat/montserrat-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/montserrat/montserrat-regular-webfont.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/montserrat/montserrat-semibold-webfont.otf') format('truetype'),
	url('/fonts/montserrat/montserrat-semibold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/montserrat/montserrat-bold-webfont.eot'); /* IE9 Compat Modes */
	src: url('/fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/montserrat/montserrat-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/montserrat/montserrat-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/montserrat/montserrat-bold-webfont.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/montserrat/montserrat-extrabold-webfont.otf') format('truetype'),
	url('/fonts/montserrat/montserrat-extrabold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/montserrat/montserrat-black-webfont.eot'); /* IE9 Compat Modes */
	src: url('/fonts/montserrat/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('/fonts/montserrat/montserrat-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	url('/fonts/montserrat/montserrat-black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('/fonts/montserrat/montserrat-black-webfont.svg#Montserrat') format('svg'); /* Legacy iOS */
}
