.picto-sprite-place-legend {
  background-image: url(/images/home/home-pictos.svg);
  height: 170px;
  width: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picto-sprite-skill-legend {
  background-image: url(/images/home/home-pictos.svg);
  height: 170px;
  width: 170px;
  display: block;
  background-position: -170px 0;
  margin-left: auto;
  margin-right: auto;
}

.picto-sprite-skill-no-legend {
  background-image: url(/images/home/home-pictos.svg);
  height: 170px;
  width: 170px;
  display: block;
  background-position: -170px 170px;
  margin-left: auto;
  margin-right: auto;
}

.picto-sprite-community-legend {
  background-image: url(/images/home/home-pictos.svg);
  height: 170px;
  width: 170px;
  display: block;
  background-position: -340px 0px;
  margin-left: auto;
  margin-right: auto;
}

.picto-sprite-machine-legend {
  background-image: url(/images/home/home-pictos.svg);
  height: 170px;
  width: 170px;
  display: block;
  background-position: -510px 0px;
  margin-left: auto;
  margin-right: auto;
}
