/**
 * Variables
 */
$lightPlaceColor: #fc3975;
$darkPlaceColor: #de3366;
$lightUserColor: #20dec2;
$darkUserColor: #1abda4;
$lightGroupColor: #fcea10;
$darkGroupColor: #efd90f;

$errorColor: #E74C3C;
