.typeahead-container {
  position: relative;

  .typeahead-suggestions-container {
    background-color: #fff;
    box-shadow: 0 5px 5px #b8b8b8;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;

    &.visible {
      display: block;
    }

    .typeahead-suggestion {
      padding: 10px;

      &:hover {
        cursor: pointer;
        background-color: #E4E4E4;
      }
    }
  }
}
