.page-not-found {
  text-align: center;
  margin-top: 64px;
  padding-top: 80px;

  h1 {
    font-size: 24px;
    line-height: 28px;
    margin: 40px 0 20px;
  }

  h2 {
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0;
  }

  i {
    font-size: 81px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
