.home-page {
  font-family: 'Raleway', sans-serif;

  .section-intro {
    background: url("/images/home/bg-intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-bottom: 9rem;
    padding-top: 9rem;

    h3 {
      text-align: center;
      margin-top: 0px;
      margin-bottom: 2rem;
      font-size: 4.8rem;
      font-weight: 100;
    }

    p {
      font-size: 1.7rem;
      line-height: 2;
      margin-bottom: 1.5rem;
    }
  }

  .section-footer {
    background-color: #f4f5f7;
    color: #333;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}
